HELP.md

# Maven
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Gradle
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
.vscode/

# Local Config
**/application-dev.yml

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log